*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
}

.full-page{
    display: flex;
    width: 1200px;
    flex-direction: column;
    border-radius: 15px;
    min-height: 99.5vh;
}

.main-container {
    height: 100%;
    display: flex;
    background-image: linear-gradient(to right, #A1FFCE, #FAFFD1);
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    border-radius: 20px 20px 15px 15px;
}

.button{
    cursor: pointer;
}

.button:hover{
    background-color: #FFF;
}